# .bashrc

export GITHUB_OAUTH_TOKEN=
export GITHUB_TOKEN=${GITHUB_OAUTH_TOKEN}

export GITLAB_OAUTH_TOKEN=
export GITLAB_TOKEN=${GITLAB_OAUTH_TOKEN}

export SAMBER_AWS_TOKEN
export SAMBER_AWS_SECRET=

export CLEVERCLOUD_ORG_ID=
export CLEVERCLOUD_AUTH_TOKEN=
export CLEVERCLOUD_AUTH_SECRET=

export CLOUDFLARE_BIENAVOUS_TOKEN=
export CLOUDFLARE_BIENAVOUS_ZONE_ID=

export CLOUDFLARE_GREP_TOKEN=
export CLOUDFLARE_GREP_ZONE_ID=

export VSTS_USERNAME="dev@samuel-berthe.fr"
export VSTS_ACCESS_TOKEN=

export TF_VAR_do_token=

export SCW_TOKEN=
