# .bashrc

export GITHUB_OAUTH_TOKEN=
export GITHUB_TOKEN=${GITHUB_OAUTH_TOKEN}

export GITLAB_OAUTH_TOKEN=
export GITLAB_TOKEN=${GITLAB_OAUTH_TOKEN}

export SAMBER_AWS_TOKEN=
export SAMBER_AWS_SECRET=

export CLEVERCLOUD_ORG_ID=
export CLEVERCLOUD_AUTH_TOKEN=
export CLEVERCLOUD_AUTH_SECRET=

export TF_VAR_do_token=

export SCW_TOKEN=

export OPENAI_ORG_ID=
export OPENAI_API_KEY=
